.basic-div {
  background-color: #aaa;
  margin: 10px 50px 25px 30px;
  padding: 15px 30px;
}

.basic-div + .basic-div {
  margin-top: -10px;
}


.text-center {
  text-align: center;
}

.text-center .basic-div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.with-background {
  background-color: #b00;
}

.with-image {
  height: 300px;
  background-color: #777;
  background-image: url("images/image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
 }

.with-image.second {
  margin-top: 20px;
  height: 300px;
  background-image: url("images/image.jpg");
  background-size: auto 80%;

}