body {
  font-size: 20px;
  text-align: center;
}

#div-with-background {
  background-color: #f7b;
}

.with-background {
  background-color: #00EE00;
  font-size: 18px;
}

.with-background {
  background-color: #009911;
}

div a {
  background-color: #f0f;
}

div > a {
  background-color: #000;
}

a {
  background-color: #999;
  font-size: 14px;
}

.with-background.orange {
  background-color: orange;
}

.orange {
  background-color: #000;
}

.orange {
  background-color: #00EE00 !important;
}

.orange,
.with-background {
  text-transform: uppercase;
}

.table > .table-row > .table-cell > input {
  /* code here */
}

.with-background + .plus-selector {
  display: block;
  background-color: #777;
}

.with-background ~ .plus-selector {
  color: orange;
}

.plus-selector {
  display: none;
}

input {
  border: 1px solid black;
}

input[type="text"] {
  border: 1px solid red;
}